# Ignore configuration files containing sensitive credentials
config.env
streaming_accounts.tmp
registrations.tmp # Added tmp file for registrations

# Optional: Uncomment the line below if you DO NOT want to commit user registration data to Git
# registrations.json
